<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header><%= title %></header>
    <nav><a href="/">Home</a></nav>
<%- body %>
    <footer>Pie de página</footer>
</body>

</html>